[Unit]
Description="Prometheus exporter for fastd tunnels"

[Service]
EnvironmentFile=/etc/default/prometheus-fastd-exporter
ExecStart=/usr/bin/prometheus-fastd-exporter $ARGS
Restart=always
User=root
Group=root
Restart=on-failure
PrivateTmp=no
MemoryLimit=50M

[Install]
WantedBy=multi-user.target
