[Unit]
Description="Prometheus exporter for fastd tunnels"

[Service]
EnvironmentFile=/etc/default/prometheus-fastd-exporter
ExecStart=/usr/bin/prometheus-fastd-exporter $ARGS
Restart=always
User=root
Group=root
Restart=on-failure
PrivateTmp=no
CapabilityBoundingSet=CAP_NET_ADMIN
MemoryLimit=50M
ProtectSystem=full
ProtectKernelTunables=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true
RestrictRealtime=true

[Install]
WantedBy=multi-user.target
